<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Username=postgres;Search Path=billing;Password=postgres;Host=localhost;Database=Issue;Port=5432" providerName="PostgreSQL" />-->
    <add name="DefaultConnection" connectionString="Data Source=PC0171315\SQLEXPRESS;Initial Catalog=test_db;Trusted_Connection=True;MultipleActiveResultSets=True;" providerName="SqlServer"/>
    <!--<add name="DefaultConnection" connectionString="Data Source=10.21.20.67\\SQLEXPRESS;Initial Catalog=test_db;user id=sa;password=Danfoss-2015;Application Name=Cloud-control.Web" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
